@using RealEstateProject.Database.Models
@using RealEstateProject.DtosModel.HouseDto
@model HouseFormDto
@{
    ViewData["Title"] = "Edit House";
}

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <h2 class="heading-margin text-center">Add house</h2>

        <form method="post">
            <div class="form-group">
                <label asp-for="City"></label>
                <input asp-for="City" required class="form-control" placeholder="Soifa">
                <span asp-validation-for="City" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Street"></label>
                <input asp-for="Street" required class="form-control" placeholder="Kazanska...">
                <span asp-validation-for="Street" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <input asp-for="Description" required class="form-control" placeholder="House Description">
                <span asp-validation-for="Description" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Picture"></label>
                <input asp-for="Picture" required class="form-control" placeholder="House Picture ">
                <span asp-validation-for="Picture" class="small text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Quadrature"></label>
                <input asp-for="Quadrature" required class="form-control" placeholder="Quadrature">
                <span asp-validation-for="Quadrature" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price"></label>
                <input asp-for="Price" required class="form-control" placeholder="Price for House">
                <span asp-validation-for="Price" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Condition">Condition</label>
                <select asp-for="Condition" class="form-control">
                    @foreach (var condition in Model.Conditions)
                    {
                        <option value="@condition">@condition</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label asp-for="UseType">UseType</label>
                <select asp-for="UseType" class="form-control" id="selectedType" onchange="checkUseType()">
                    @foreach (var type in Model.Types)
                    {
                        <option value="@type">@type</option>
                    }
                </select>
            </div>

            <div id="rent-price-input" class="form-group" style="display:none">
                <label asp-for="RentPrice"></label>
                <input asp-for="RentPrice"  class="form-control" placeholder="Price for House">
                <span asp-validation-for="RentPrice" class="small text-danger"></span>
            </div>

            <input class="btn btn-primary mt-3" type="submit" value="Save" />
        </form>
    </div>
</div>

@section Scripts {
    <script>
        function checkUseType() {
            var useType = document.getElementById('selectedType').value;
            var rentInput = document.getElementById('rent-price-input');

            if (useType == 'For_Rent' || useType == 'Both') {
                rentInput.style.display = 'block'
            } else {
                rentInput.style.display = 'none'
            }
        }
    </script>
} 